<!DOCTYPE html>
<html ng-app="starter">
<head>
  <title>GymApp</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body animation="slide-left-right-ios7">
  {% include 'navbar.html' %}

 <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>
-->

   <!--
    The views will be rendered in the <ion-nav-view> directive below
    Templates are in the /templates folder (but you could also
    have templates inline in this html file if you'd like).
  -->

    <ion-nav-view></ion-nav-view>

  {% include 'javascripts.html' %}
</body>
</html>
