<!--<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#not-google-plus-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GymApp</a>
    </div> &lt;!&ndash; ./navbar-header &ndash;&gt;

    <div class="collapse navbar-collapse" id="not-google-plus-nav">
      <ul class="nav navbar-nav pull-right">
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
          <li><a href="/+{{ user.username }}/settings">Settings</a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </div> &lt;!&ndash; /.collapse.navbar-collapse &ndash;&gt;
  </div> &lt;!&ndash; /.container-fluid &ndash;&gt;
</nav>-->


<!--The nav bar that will be updated as we navigate between views.-->

  <ion-nav-bar class="bar-stable nav-title-slide-ios7" ng-controller="NavbarController as vm">

    <ion-nav-buttons side="right">
      {% if user.is_authenticated %}
      <a class="button button-icon ion-person"> {{user.username}} </a>
      <a href="javascript:void(0)" class="button button-icon ion-log-out" ng-click="vm.logout()">Logout</a>
      {% else %}
      <a href="/login" class="button button-icon ion-log-in">Login</a>
      <a class="button button-icon ion-android-person-add" href="/register">Register</a>
      {% endif %}
    </ion-nav-buttons>

    <ion-nav-back-button class="button-icon icon ion-chevron-left">
    </ion-nav-back-button>

    <!--  <div ng-controller="NavbarController as vm">
        {% if user.is_authenticated %}
        <ion-nav-buttons side="right">
          <a class="button button-icon ion-person" href="/{{ user.username }}">{{ user.username }}</a>
          <a class="button button-icon ion-wrench" href="/{{ user.username }}/settings"></a>
          <button class="button button-icon ion-log-out" ng-click="vm.logout()"></button>
          {% else %}
          <a class="button button-icon ion-log-in" href="/login">Login</a>
          <a class="button button-icon ion-log-out" href="/register">Register</a>
          {% endif %}
        </ion-nav-buttons>
      </div>

      <ion-nav-back-button class="button-icon icon ion-chevron-left">
      </ion-nav-back-button>-->

  </ion-nav-bar>
