<ion-view view-title="Profile">
  <ion-content class="has-header">

    <div class="profile" ng-show="vm.profile">
      <div class="jumbotron profile__header">
        <h1 class="profile__username">{{ vm.profile.username }}</h1>
        <p class="profile__tagline">{{ vm.profile.tagline }}</p>
      </div>
    </div>

  </ion-content>
</ion-view>