

<ion-view view-title="Introduction">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-body" style="background-color: khaki">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer. It has survived not only five centuries,
          but also the leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing.
        </p>
      </div>

    </div>

    <div align="center">
      <button class="button icon-right ion-paper-airplane button-dark" ng-click="startExercise()">Let's go!</button>
    </div>


  </ion-content>
</ion-view>
