<ion-view view-title="Training plan">
  <ion-content class="has-header">
<h1>Content</h1>

    <ion-list>
      <div ng-repeat="day in days">
        <div class="item item-icon-left"  ng-click="toggleGroup(day)" ng-class="{active: isGroupShown(day)}">
          <i class="icon icon-accessory" ng-class="isGroupShown(day) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{day.name}}
        </div>
        <a class="item item-icon-left item-accordion" ng-show="isGroupShown(day)" ng-repeat="exercise in day.exercises" type="item-text-wrap"
           href="/tab/plan/{{day.id}}/{{exercise.id}}">
          {{exercise.name}}
        </a>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
