
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Introduction" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/intro">
    <ion-nav-view name="tab-intro"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Training plan" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/plan">
    <ion-nav-view name="tab-plan"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<!--Footer for our application -->

<div class="bar bar-footer bar-stable">
  <div class="title">
    <button class="button button-icon ion-ios-home-outline" ng-click="goHome()"></button>
  </div>
</div>