<!--
  This template loads for the 'tab.exercise' state (app.js)
-->
<ion-view title={{exercise.name}}>
  <ion-content has-header="true" padding="true" has-bouncing="true">


    <div align="center" class="card" ng-show="exerciseType==0">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showBestStretchAlert()"></button></span>
        <p> Para 1 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
    </div>
    </div>

    <div align="center" class="card" ng-show="exerciseType==1">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showButterflyReverseAlert()"></button></span>
      <p> Para 2 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
    </div>

    <div align="center" class="card" ng-show="exerciseType==2">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showSquatRowAlert()"></button></span>
      <p> Para 3 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
    </div>

    <div align="center" class="card" ng-show="exerciseType==3">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showPlankAlert()"></button></span>
      <p> Para 4 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
    </div>

    <div align="center" class="card" ng-show="exerciseType==4">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showPushUpAlert()"></button></span>
      <p> Para 5 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
    </div>

    <div align="center" class="card" ng-show="exerciseType==5">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showSidePlankAlert()"></button></span>
      <p> Para 6 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
    </div>

    <div align="center" class="card" ng-show="exerciseType==6">
      <span class="info"><button class="button button-clear ion-ios-book" ng-click="showSquatAlert()"></button></span>
      <p> Para 7 :: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. </p>
    </div>


      <div align="center">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
               class="videoPlayer" >
          <source src="http://techslides.com/demos/sample-videos/small.mp4"
                  type="video/mp4"/>
          Please update your browser!
        </video>
      </div>

      <div >
        <div class="row">
          <div class="col-33">
           <!--First happy smiley-->
            <ion-radio ng-model="emotion" ng-value="'happy'" ng-click="playNext()">
              <div class='smiley-green floatleft'>
                <div class='left-eye'></div>
                <div class='right-eye'></div>
                <div class='smile'></div>
              </div>
            </ion-radio>
          </div>

          <div class="col-33">
            <!--Second happy smiley-->
            <ion-radio ng-model="emotion" ng-value="'neutral'" ng-click="playNext()">
              <div class='smiley-yellow floatleft'>
                <div class='left-eye'></div>
                <div class='right-eye'></div>
                <div class='smile'></div>
              </div>
            </ion-radio>
          </div>

          <div class="col-33">
            <!--Third happy smiley-->
            <ion-radio ng-model="emotion" ng-value="'sad'" ng-click="playNext()">
              <div class='smiley-red floatleft'>
                <div class='left-eye'></div>
                <div class='right-eye'></div>
                <div class='smile'></div>
              </div>
            </ion-radio>
          </div>
        </div>
      </div>



    <!--Printing radio button value-->
    <lable>{{emotion}}</lable>

  </ion-content>
</ion-view>
